
/* ----------------------------------------Heading */
.navbar-background {
	padding: 0px !important;
	height:50px !important;
}

.list-inline-item:not(:last-child){
	margin:0;
	padding:0em;
}

.menucontainer {
	font-size:0;
}

.navitem {
	padding: 0;
	width: 150px;
	height: 50px;
}

.navitem a{
	width:100%;
	text-decoration: none;
	text-align:center;
}

.navitem a i{
	color: #fafafa;
	padding-top: 8px;
	display: block;
	font-size: 15px;
}

.navitem span {
	color: #fafafa;
	margin:0;
	display: block;
	width: 100%;
	padding-top: 5px;
	text-align:center;
	font-size:10px;
	font-weight: 500;
	letter-spacing: 0.5px;
}


/* ----------------------------------------paddings/margin/text */

.uppercase {
	text-transform: uppercase;
}

.footer-details {
	color:#fafafa;
	font-size: 15px;
}

h6{
	font-size:10px;
}


.social-links li a i {
    width: 20px;
    height: 20px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 12px;
    line-height: 5px;
    text-align: center;
    color: #fafafa;
    background: #767271;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
	background: #964F4CFF;
}


.footer-detail a {
	text-decoration:none;
}
/* ----------------------------------------Background*/

#background {
	background-image: url('../images/background_tools.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin-bottom: 0px;
	
}

.navbar-background {
	background-color: #767271 !important;
}

.navitem {
	padding:0;
	margin:0;
	
}
.footer-background{
	background-color: #1E2942
}

/* ----------------------------------------Hover */
.hvr-sweep-to-bottom:before {
	background-color:rgba(0,0,0,0.2);
	height:50px;
}


/* ----------------------------------------Footer */
