/* ----------------------------------------font import */

@import url('https://fonts.googleapis.com/css?family=Anton|Roboto|Yellowtail&display=swap');


/* ----------------------------------------Heading */

/*
header {
	margin:0px;
}
*/

.navbar-background .gcs {
	font-family: 'Yellowtail', cursive;
	font-size: 25px;
	color:#fafafa; 
	text-align:center;
}

.navbar-light .navbar-toggler {
	border-color:white;
	border: 2px solid (255,255,255,0.5);
}

.icon{
	padding: 5px;
	width: 250px;
	text-align:center;
}


.navitem {
	padding: 0;
	width: 150px;
	height: 50px;
}

.navitem a span{
	width:100%;
	text-decoration: none;
	color: #fafafa;
	font-size: 15px;
}

.navitem a span i{
	color: #fafafa;
	padding-top: 8px;
	font-size: 20px;
}

.navitem span {
	color: #fafafa;
	margin:0;
	display: block;
	width: 100%;
	padding-top: 5px;
	font-size:10px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

/* ----------------------------------------Body */



/* ----------------------------------------paddings/margin/text */
.col-sm-2 {
	max-width:33.33%;
}

.uppercase {
	text-transform: uppercase;
}

.title {
	margin:20px;
}

.about-ul {
	list-style-type:square;
}

.about-list{
	margin:20px;
	padding:10px;
}


section{
	padding-bottom: 160px;
	
}




.anton {
	margin-top:20px;
	font-family: 'Anton', sans-serif;
	font-size:30px;
	font-weight:20px;
}

.roboto {
	margin-bottom:20px;
	font-family: 'Roboto', sans-serif;
	font-size:15px;
	font-weight: 10px;
	
}


.descrip{
	font-family: 'Playfair Display', serif;
}

.center{
	text-align:center;
}

.red {
	color: red;
	margin:20px;
	padding:0;
	position: relative;
}

.footer-details {
	color:#fafafa;
	font-size: 15px;
}


.vision-row{
	margin:2%;
}


.flip-card{
	margin:5px;
	background-color: transparent;
	width: 300px;
	height: 200px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  
}


.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	font-size:40px;
	
}


.flip-card-front {
	background-color: #707FA1;
	color: black;
	border-radius:10%;
	border: 1px solid #fafafa;
	
}


.flip-card-back {
	background-color: #707FA1;
	transform: rotateY(180deg);
	border: 2px solid #fafafa;
	border-radius:10%;
	
}

.flip-card-back .roboto {
	margin-top:10px;
	font-size:20px;
	font-weight:bold;
	margin-bottom:0px;
	line-height:0.5cm;
	color:black;
}

.flip-card-back .anton {
	margin-top:50px;
	
}

.flip-card-front a i {
	margin-top:20px;
	padding-top:10px;
	background: #767271;
	height: 70px;
	width:70px;
	border-radius:50%;
	color: #fafafa;
}


.steps .selling-point {
	color:black;
	border: 2px solid #fafafa;
	border-radius:0%;
	margin:10px;
	padding:10px;

}

.selling-point .anton {
	font-size:25px;
	text-decoration: underline;

}

.selling-point .roboto {
	font-size:12px;
	text-decoration: underline;
	padding:0px;
}

.social-links li a i {
    width: 20px;
    height: 20px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 12px;
    line-height: 5px;
    text-align: center;
    color: #fafafa;
    background: #767271;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
	background: #964F4CFF;
}


.footer-details a {
	text-decoration:none;
}

h6 {
	font-size:10px;
	
}

.packages {
	margin:10px;
	text-align:center;
	font-size:20px;
	
}

.remarks {
	background-color: rgba(255, 0, 0, 0.8);
	color:white;
}

.rm {
	font-size:10px;
	letter-spacing:1px;
	
}

.amount {
	font-size: 25px;
	letter-spacing:1px;
	font-weight:bold;
}

.service-card {
	margin-bottom:10px;
	padding: 5px;
	background-color: #707FA1;
	color: white;
	margin:10px;
	height:80px;
}

.service-card .roboto{
	font-size:25px;
	font-weight:bold;
}

.service-card .booking{
	font-size:25px;
	font-weight:bold;
}



/* ----------------------------------------Background*/

.main-background {
	background-image: url('../images/background.png');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin-bottom: 0px;
}

.navbar-background {
	background-color: #1E2942;
}

.navitem {
	padding:0;
	margin:0;
}

.first-bg {
	background-image: url('../images/about_us.png');
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	min-height: 450px;
}

.second-bg {
	background-image: url('../images/background2.png');
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	min-height: 450px;
}

.general-bg {
	background-color: #231E33;
	color:#fafafa;
}


.third-bg {
	background-image: url('../images/note_book.png');
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	min-height: 450px;
}


.footer-background{
	background-color: #1E2942;
}

.selling-point {
	background-color:#707FA1;
	border-radius:20%;
	
	
}

.insufficient {
	margin-top:20px;
	background-color: #3AD3C1;
	color: white;
}

.red {
	background-color: rgba(255, 0, 0, 0.2);
	
}

.form{
	margin-top:10px;
	margin-bottom:10px;
}


.select  {
	margin-top:10px;
	width:100%;
	height:38px;
}

/* ----------------------------------------Hover */
.hvr-sweep-to-bottom:before {
	background-color:rgba(0,0,0,0.2);
	height:50px;
}


/* ----------------------------------------Footer */



/* ----------------------------------------Media Queries */


/* --------------------------------------- -webkit-keyframs */
